<div class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{ isEdit ? 'Editar Unidad de Medida' : 'Nueva Unidad de Medida' }}</h3>
            </div>
            <form [formGroup]="unidadForm" (ngSubmit)="saveUnidad()">
              <div class="card-body">
                <!-- Nombre -->
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    formControlName="name"
                    [class.is-invalid]="unidadForm.get('name')?.invalid && unidadForm.get('name')?.touched"
                    placeholder="Ingrese unidad de medida"
                  />
                  <div *ngIf="unidadForm.get('name')?.invalid && unidadForm.get('name')?.touched" class="invalid-feedback">
                    El nombre es obligatorio y debe tener al menos 3 caracteres.
                  </div>
                </div>
  
                <!-- Observación -->
                <div class="form-group">
                  <label for="observacion">Observación</label>
                  <textarea
                    id="observacion"
                    class="form-control"
                    formControlName="observacion"
                    placeholder="Ingrese una observación (opcional)"
                  ></textarea>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" [disabled]="unidadForm.invalid">
                  {{ isEdit ? 'Actualizar' : 'Guardar' }}
                </button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/unidades']">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
