<div class="content-header">
  <div class="container-fluid">
    <h1 class="m-0 text-center">{{ title }}</h1>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Buscar Movimientos por Rango de Fechas</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col-md-3 border border-primary">
                <div class="form-group">
                  <label for="startDate">Fecha de Inicio</label>
                  <input
                    type="date"
                    id="startDate"
                    class="form-control"
                    formControlName="startDate"
                  />
                  <div class="form-group">
                    <label for="endDate">Fecha de Fin</label>
                    <input
                      type="date"
                      id="endDate"
                      class="form-control"
                      formControlName="endDate"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-9 border border-primary">
                <br />
                <div class="form-group row">
                  <label for="productCode" class="col-sm-2 col-form-label"
                    >Codigo Prod :</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="productCode"
                      formControlName="productCode"
                      placeholder="Ingresar Codigo de Producto"
                    />
                  </div>
                  <div class="col-sm-2">
                    <button
                      type="button"
                      class="btn btn-block btn-primary"
                      (click)="buscarProd()"
                    >
                      Buscar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card mt-3">
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Nro.</th>
                <th>Tipo</th>
				<th>O.Compra</th>
                <th>Comporbante</th>

              </tr>
            </thead>
            <tbody>
              @for (item of movements; track $index) {
              <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.code }}</td>
				<td>-</td>
				<td>{{ item.compra }}</td>
                <td>{{ item.expediente }}</td>

              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
