<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0 text-center">{{ title }}</h1>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <form [formGroup]="movFrom">
            <!-- Card para buscar productos -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Buscar Articulos</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="name" [formControl]="searchControl" class="form-control"
                                placeholder="Buscar articulo por nombre">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field style="height: 60px; width: 400px;">
                                    <input type="text" matInput [formControl]="textControl" [matAutocomplete]="auto"
                                        placeholder="Buscar servicio" />
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                        (optionSelected)="onOptionSelected($event.option.value)">
                                        <mat-option *ngFor="let service of filteredServices | async" [value]="service">
                                            {{ service.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="products.length > 0" class="table-responsive"
                        style="max-height: 400px; overflow-y: auto;">
                        <table id="productTable" class="table table-bordered table-striped mt-3">
                            <thead>
                                <tr>
                                    <th>Acc.</th>
                                    <th>Cod</th>
                                    <th>Nombre</th>
                                    <th>Stock</th>
                                    <th>Familia</th>
                                    <th>Unidad</th>
                                    <th>Marca</th>
                                    <th>Obs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of products; index as i">
                                   
                                    <td>
                                        @if(item.stock>0){
                                            <button class="btn btn-success btn-sm"
                                            (click)="addPro(item)">+</button>
                                        }
                                        @if(item.stock<=0){
                                            <button class="btn btn-danger btn-sm"
                                            (click)="addPro(item)" [disabled]="true">+</button>
                                        }
                                    
                                    </td>
                                
                                        <td>{{ item?.code ?? '-' }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.stock }}</td>
                                        <td>{{ item.tipo?.name ?? '-' }}</td>
                                        <td>{{ item.unidad?.name ?? '-' }}</td>
                                        <td>{{ item.marca?.name ?? '-' }}</td>
                                        <td>{{ item.observation }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- Card para lista de productos seleccionados -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Lista de Productos Seleccionados</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="comprobantes.length>0" class="row">
                        <table id="selectedTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>R</th>
                                    <th>Nombre</th>
                                    <th>U.M</th>
                                    <th>Cant</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let comprobante of comprobantes; index as i">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ comprobante.product.name }}</td>
                                    <td>{{ comprobante.product.unidad?.name ?? '-' }}</td>
                                    <td>
                                        <input type="number" class="form-control" [value]="comprobante.cantidad"
                                            (change)="actualizarCantidad(comprobante, $event)" min="1">
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm"
                                            (click)="eliminarProducto(comprobante.product._id)">X</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="observation">Observación</label>
                            <textarea id="observation" class="form-control" formControlName="observacion"
                                placeholder="Ingrese alguna observación"></textarea>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-success" id="btnAceptar" [disabled]="movFrom.invalid"
                        (click)="saveTipo()">Aceptar</button>
                    <button type="button" class="btn btn-danger" id="btnLimpiar"
                        (click)="limpiarLista()">Limpiar</button>

                </div>
            </div>
        </form>
    </div>
</div>