.mycontainer {
    font-family: Arial, sans-serif;
    font-size: 8;
}

.table {
    text-align: center;
}

.border-top {
    border-top: 1px solid #000;
    width: 80%;
    margin: 0 auto;
}

hr {
    background-color: black;
    height: 2px;
}

p {
    margin: 0;
    /* Elimina los márgenes */
    padding: 0;
    /* Elimina cualquier relleno adicional */
}

.custom-table {
    font-size: 6; /* Cambia el tamaño de la fuente */
    border-spacing: 0; /* Elimina espacios entre celdas */
  }
  
  .custom-table th,
  .custom-table td {
    padding: 1; /* Elimina el relleno interno de las celdas */
    margin: 1; /* Elimina los márgenes */
    line-height: 1; /* Ajusta la altura de línea */
  }
  