<div class="content-header">
  <div class="container-fluid">
    <h1 class="m-0 text-center">{{ title }}</h1>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Buscar Movimientos por Rango de Fechas</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col-md-3 border border-primary">
                <div class="form-group">
                  <label for="startDate">Fecha de Inicio</label>
                  <input type="date" id="startDate" class="form-control" formControlName="startDate" />
                  <div class="form-group">
                    <label for="endDate">Fecha de Fin</label>
                    <input type="date" id="endDate" class="form-control" formControlName="endDate" />
                  </div>
                </div>
              </div>
              <div class="col-md-9 border border-primary">
                <br />
                <div class="form-group row">
                  <label for="productCode" class="col-sm-2 col-form-label">Servicio :</label>
                  <div class="col-sm-8">
                    <mat-form-field style="height: 70px; width: 550px;">
                      <input type="text" matInput [formControl]="textControl" [matAutocomplete]="auto"
                        placeholder="Buscar servicio" />
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)="onOptionSelected($event.option.value)">
                        <mat-option *ngFor="let service of filteredServices | async" [value]="service">
                          {{ service.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-block btn-primary" (click)="buscarServicio()">
                      Buscar
                    </button>
                  </div>
                </div>
                <button class="btn btn-primary mb-4" (click)="generatePDF()">
                  Generar PDF
                </button>
              </div>
            </div>
            <div class="row"></div>
          </form>
        </div>
      </div>
    </div>
    <!-- Contenedor del PDF -->
    <div #pdfContent class="d-flex justify-content-between mycontainer">
      <div class="card mt-3" style="width: 100%;">
        <div class="card-body ">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="2">
                  <p><strong>Hospital Pablo Soria</strong></p>
                  <p><strong>Dirección Administrativa</strong></p>
                  <p>
                    <strong>{{ currentUser.service.name }}</strong>
                  </p>
                </th>
                <th colspan="4">
                  <p><strong>Articulo con sus Movimientos.</strong></p>
                  <br />
                  <p>
                    <strong>
                      {{selectedService?.name ? selectedService.name:""}}
                    </strong>
                  </p>
                  <br />
                  <p>
                    <strong>
                      Desde: {{ inicio || "-" }}&nbsp;&nbsp;Hasta:
                      {{ final || "-" }}
                    </strong>
                  </p>
                </th>
                <th colspan="2">
                  <p>
                    <strong>Fecha: </strong>{{ myDate | date : "yyyy-MM-dd" }}
                  </p>
                  <p>
                    <strong>Hora: </strong>{{ currentTime }}
                  </p>
                  <p>
                    <strong> Usuario : </strong>{{ currentUser.name || "" }}
                  </p>
                </th>
              </tr>
              <tr>
                <th>Fecha</th>
                <th>Nro.</th>
                <th>Tipo</th>
                <th colspan="3">Articulo</th>
                <th colspan="2">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of movements">
                <td>{{ item.date }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.type }}</td>
                <td colspan="3">
                  <ul  style="list-style-type: none;">
                    <li *ngFor="let comprobante of item.comprobantes">
                      {{comprobante.product.name }}
                    </li>
                  </ul>
                </td>
                <td colspan="2">
                  <ul  style="list-style-type: none;">
                    <li *ngFor="let comp of item.comprobantes">
                      {{ comp.cantidad
                      }}
                    </li>
                  </ul>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>