<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Hospital</b> Pablo Soria</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingresa tus datos para iniciar session</p>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="input-group mb-3">
                        <input type="text" id="username" class="form-control" placeholder="Usuario"
                            formControlName="username"
                            [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                            class="invalid-feedback">
                            El usuario es obligatorio.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input id="password" type="password" class="form-control" placeholder="Password"
                            formControlName="password"
                            [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                            class="invalid-feedback">
                            La contraseña debe tener al menos 6 caracteres.
                        </div>
                    </div>
                    <div class="row" style="align-items: center;">
                        <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>

                    </div>
            
                    <div class="row" style="align-items: center;">

                        <button type="submit" class="btn btn-primary btn-block"
                            [disabled]="loginForm.invalid">Ingresar</button>

                    </div>

                </form>
            </div>
        </div>
    </div>