<!-- Main content -->
<section class="content">
    <!-- Default box -->

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">
                            <strong>
                                Articulos con stock bajo o sin stock.
                            </strong>
                        </h3>
                        <div class="card-tools no-print">
                            <div class="input-group input-group-sm" style="width: 200px; display: inline-flex;">
                                <input type="text" [(ngModel)]="searchTerm" name="name" class="form-control float-right" placeholder="Buscar ..." />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <button (click)="print()" class="btn btn-danger no-print mb-3" style="margin-left: 10px;">
                                <i class="fas fa-print"></i>
                            </button>
                        </div>
                        
       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                  
                        <table id="productTable" class="table table-bordered table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th>Cod.</th>
                                    <th>Nombre</th>
                                    <th>Stock</th>
                                    <th>S Min</th>
                                    <th>Familia</th>
                                    <th>Medida</th>
                                    <th>Marca</th>
                                    <th>Precio</th>
                                    <th>Vto.</th>
                                    <th>Obs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of productosModificados | filter:searchTerm; let i = index">
                                    <td><strong>{{ item?.code ?? "-" }}</strong></td>
                                    <td>{{ item.name }}</td>
                                    <td style="color: red;"><strong>{{ item.stock }}</strong></td>
                                    <td>{{ item.min }}</td>
                                    <td>{{ item.tipo?.name ?? "-" }}</td>
                                    <td>{{ item.unidad?.name ?? "-" }}</td>
                                    <td>{{ item.marca?.name ?? "-" }}</td>
                                    <td>{{ item?.price ?? "-" }}</td>
                                    <td>{{ item?.vencimiento ?? "-" }}</td>
                                    <td>{{ item.observation }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>


    <!-- /.card -->
</section>
<!-- /.content -->