<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0 text-center">{{ title }}</h1>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <form [formGroup]="movFrom" (ngSubmit)="saveTipo()">
            <!-- Card para buscar productos -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Buscar Articulos</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                                <input type="text" name="name" [formControl]="searchControl"
                                    class="form-control is-valid" placeholder="Buscar articulo por nombre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="proveedor">Proveedor</label>
                                <input type="text" id="proveedor" class="form-control" formControlName="proveedor"
                                    placeholder="Ingrese el nombre del proveedor" />
                                <div *ngIf="movFrom.get('proveedor')?.invalid && movFrom.get('proveedor')?.touched"
                                    class="text-danger">
                                    El proveedor es obligatorio.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="compra">Or. Compra</label>
                                <input type="text" id="compra" class="form-control" formControlName="compra"
                                    placeholder="Ingrese N° de orden de compra" />
                                <div *ngIf="movFrom.get('compra')?.invalid && movFrom.get('compra')?.touched"
                                    class="text-danger">
                                    El proveedor es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="remito">N° de Remito</label>
                                <input type="text" id="remito" class="form-control" formControlName="remito"
                                    placeholder="Ingrese N° de remito" />
                                <div *ngIf="movFrom.get('remito')?.invalid && movFrom.get('remito')?.touched"
                                    class="text-danger">
                                    El N° remito es obligatorio.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="expediente">N° de Expediente</label>
                                <input type="text" id="expediente" class="form-control" formControlName="expediente"
                                    placeholder="Ingrese N° de expediente" />
                                <div *ngIf="movFrom.get('expediente')?.invalid && movFrom.get('expediente')?.touched"
                                    class="text-danger">
                                    El N° expediente es obligatorio.
                                </div>
                            </div>

                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                            <table id="productTable" class="table table-bordered table-striped mt-3">
                                <thead>
                                    <tr>
                                        <th>Acc.</th>
                                        <th>Cod</th>
                                        <th>Nombre</th>
                                        <th>Stock</th>
                                        <th>Familia</th>
                                        <th>Unidad</th>
                                        <th>Marca</th>
                                        <th>Obs</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of products; index as i">
                                        <td>
                                            <button class="btn btn-success btn-sm select-btn"
                                                (click)="addPro(item)">+</button>
                                        </td>
                                        <td>{{ item?.code ?? '-'}}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.stock }}</td>
                                        <td>{{ item.tipo?.name ?? '-' }}</td>
                                        <td>{{ item.unidad?.name ?? '-' }}</td>
                                        <td>{{ item.marca?.name ?? '-' }}</td>
                                        <td>{{ item.observation }}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card para lista de productos seleccionados -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Lista de Productos Seleccionados</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table id="selectedTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Acc.</th>
                                    <th>R</th>
                                    <th>Nombre</th>
                                    <th>U.M</th>
                                    <th>Cant</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let comprobante of comprobantes; index as i">
                                    <td>
                                        <button class="btn btn-danger btn-sm"
                                            (click)="eliminarProducto(comprobante.product._id)">X</button>
                                    </td>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ comprobante.product.name }}</td>
                                    <td>{{ comprobante.product.unidad?.name ?? '-' }}</td>
                                    <td>
                                        <input type="number" class="form-control" [value]="comprobante.cantidad"
                                            (change)="actualizarCantidad(comprobante, $event)" min="1">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="observation">Observación</label>
                            <textarea id="observation" class="form-control" formControlName="observacion"
                                placeholder="Ingrese alguna observación"></textarea>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" id="btnAceptar"
                        [disabled]="movFrom.invalid">Aceptar</button>
                    <button type="button" class="btn btn-danger" id="btnLimpiar"
                        (click)="limpiarLista()">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>